body {
  background-color: #0b0b0b;
  color: #f2f2f2;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 40px auto;
  background: #1b0000;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 20px #880e4f;
}

h1 {
  text-align: center;
  color: #e53935;
}

.input-section label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.input-section input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  background: #2c2c2c;
  color: white;
}

button {
  margin-top: 20px;
  background-color: #880e4f;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #c2185b;
}

.result-section {
  margin-top: 30px;
  background: #111;
  padding: 20px;
  border-radius: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #880e4f;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #40002e;
}

